{
    "token": "",
    "clientId": "",
    "guildId": "",
    "vandalAdminRole": "",
    "db":{
            "user": "",
            "password": "",
            "host": "",
            "port": "",
            "database": ""
    }
}
